src/conf/xml-resources/web-service-references/StudyServices/wsdl/localhost_8080/Backend/StudyServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.at/">

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="outputPayloadLogin" type="tns:outputPayloadLogin"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="parameter" type="tns:inputPayloadLogin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inputPayloadLogin">
<xs:sequence>
<xs:element name="loginDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:outputPayloadLogin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outputPayloadLogin">
<xs:sequence>
<xs:element name="fehlerbeschreibung" type="xs:string" minOccurs="0"/>
<xs:element name="fehlercode" type="xs:int" minOccurs="0"/>
<xs:element name="rolle" type="xs:string" minOccurs="0"/>
<xs:element name="userid" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>